.category-card-category-card {
  flex: 0 0 auto;
  cursor: pointer;
  display: flex;
  position: relative;
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
}
.category-card-category-card:hover {
  color: var(--dl-color-pallet-yellow);
  transform: scale(1.2);
}
.category-card-image {
  width: 120px;
  height: 120px;
  object-fit: cover;
  margin-bottom: var(--dl-space-space-unit);
  object-position: bottom;
}
.category-card-text {
  line-height: 14px;
}
@media(max-width: 767px) {
  .category-card-category-card {
    width: 48%;
  }
  .category-card-image {
    width: 100%;
    height: 250px;
  }
}
@media(max-width: 479px) {
  .category-card-category-card {
    width: 100%;
  }
}

.section-heading-section-heading {
  display: flex;
  position: relative;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  flex-direction: column;
}
.section-heading-text {
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
}
.section-heading-text1 {
  color: var(--dl-color-gray-black60);
  text-align: center;
  line-height: 24px;
}


.item-card-gallery-card {
  flex: 1;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.item-card-image {
  top: 0px;
  flex: 1;
  left: auto;
  right: 0px;
  width: 100%;
  bottom: auto;
  object-fit: cover;
}
.item-card-container {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.item-card-text {
  color: var(--dl-color-gray-black80);
  font-size: 18px;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  line-height: 14px;
  margin-bottom: var(--dl-space-space-unit);
}
.item-card-container1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.item-card-currency {
  color: var(--dl-color-gray-black50);
  font-style: normal;
  font-weight: 500;
  text-transform: uppercase;
}
.item-card-value {
  color: var(--dl-color-gray-black50);
  font-style: normal;
  font-weight: 500;
  text-transform: uppercase;
}
.item-card-root-class-name {
  flex: 1;
}



.item-card-root-class-name4 {
  flex: 1;
  height: 100%;
}


@media(max-width: 767px) {
  .item-card-gallery-card {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .item-card-image {
    top: 0px;
    left: 0px;
    right: auto;
    bottom: auto;
  }
}

.home-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  overflow-x: hidden;
  align-items: center;
  padding-top: 70px;
  flex-direction: column;
}
.home-navbar {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 1000;
  position: fixed;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-pallet-green);
}
.home-header {
  width: 100vw;
  height: 70px;
  padding-top: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: space-between;
  background-color: #d9f1f3;
}
.home-navbar1 {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}
.home-container01 {
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-unit);
  justify-content: space-between;
}
.home-image {
  width: 24px;
  height: 24px;
  z-index: 100;
  margin-right: -32px;
}
.home-textinput {
  width: 100%;
  max-width: var(--dl-size-size-xxlarge);
  transition: 0.3s;
  border-color: var(--dl-color-gray-700);
  border-width: 1px;
  padding-left: var(--dl-space-space-threeunits);
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.home-textinput:hover {
  border-color: var(--dl-color-pallet-yellow);
}
.home-middle {
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  margin-left: var(--dl-space-space-fourunits);
  border-color: transparent;
  justify-content: center;
}
.home-left {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  grid-gap: 45px;
  position: relative;
  align-items: flex-start;
}
.home-right {
  display: flex;
  grid-gap: 45px;
  position: relative;
}
.home-icons {
  display: flex;
  margin-left: auto;
}
.home-image01 {
  width: 24px;
  height: 24px;
  margin: 0 24px 0 0;
  position: relative;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.home-image02 {
  width: 24px;
  height: 24px;
  margin: 0 24px 0 0;
  position: relative;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.home-image03 {
  width: 24px;
  height: 24px;
  position: relative;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.home-burger-menu {
  display: none;
}
.home-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: none;
}
.home-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  padding: 32px;
  z-index: 100;
  position: absolute;
  transform: translateX(100%);
  transition: 0.3s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.home-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container02 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.home-logo-center {
  color: var(--dl-color-gray-black);
  height: auto;
  font-size: 24px;
  font-family: Jost;
  font-weight: 500;
  line-height: 20px;
  margin-left: var(--dl-space-space-fourunits);
  margin-right: var(--dl-space-space-fourunits);
  letter-spacing: 0.4em;
  text-decoration: none;
}
.home-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-middle1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: center;
}
.home-text03 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.home-text04 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.home-text05 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.home-text06 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.home-text07 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.home-text08 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.home-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-main {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sixunits);
}
.home-hero {
  width: 100%;
  height: 515px;
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: center;
  background-color: #d9f1f3;
}
.home-container03 {
  width: 1200px;
  height: 551px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-image04 {
  width: 100vw;
  height: 515px;
  object-fit: cover;
}
.home-categories {
  height: 880px;
}
.home-cards-container {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  grid-gap: var(--dl-space-space-twounits);
  flex-wrap: wrap;
  max-width: 1080px;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-fourunits);
  flex-direction: row;
  justify-content: space-between;
}
.home-banner {
  flex: 0 0 auto;
  width: 100%;
  height: 1px;
  display: flex;
  margin-top: var(--dl-space-space-threeunits);
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-950);
}
.home-container04 {
  flex: 0 0 auto;
  width: 250px;
  height: 100px;
  display: flex;
  position: relative;
  align-items: center;
  border-color: var(--dl-color-gray-950);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.home-text09 {
  color: var(--dl-color-gray-black);
  font-size: 30px;
  font-style: normal;
  font-family: Jost;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: var(--dl-space-space-halfunit);
  letter-spacing: 0.4em;
  text-transform: none;
  text-decoration: none;
}
.home-image05 {
  top: -30px;
  right: -33px;
  width: 100px;
  opacity: 0.7;
  position: absolute;
  object-fit: cover;
}
.home-text10 {
  width: var(--dl-size-size-xxlarge);
  height: var(--dl-size-size-large);
  font-size: 10px;
  line-height: 20px;
  letter-spacing: 1em;
  text-transform: uppercase;
}
.home-container05 {
  flex: 0 0 auto;
  height: 514px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-container06 {
  width: 100%;
  height: 317px;
  display: flex;
  position: relative;
  max-width: 770px;
  box-sizing: border-box;
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
  flex-direction: column;
}
.home-text11 {
  color: var(--dl-color-gray-black80);
  width: 100%;
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Jost;
  font-weight: 400px;
  line-height: 175%;
  font-stretch: normal;
  margin-bottom: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.home-text14 {
  color: var(--dl-color-gray-black80);
  font-size: 16px;
  font-style: normal;
  font-family: Jost;
  line-height: 175%;
  text-decoration: none;
}
.home-text17 {
  color: var(--dl-color-gray-black80);
  font-size: 16px;
  font-style: normal;
  font-family: Jost;
  line-height: 175%;
  text-decoration: none;
}
.home-svg {
  left: 280px;
  width: 203px;
  bottom: 56px;
  height: 220px;
  opacity: 0.3;
  z-index: 0;
  position: absolute;
}
.home-trending-items {
  height: 1086px;
}
.home-gallery {
  width: 100%;
  display: flex;
  align-items: stretch;
}
.home-left1 {
  flex: 1;
  width: 404px;
  height: 772px;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: stretch;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-right1 {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.home-top {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.home-left2 {
  flex: 1;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-right2 {
  flex: 1;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-bottom {
  flex: 1;
  width: 100%;
  display: flex;
}
.home-left3 {
  flex: 1;
  height: 398px;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-right3 {
  flex: 1;
  height: 620px;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-full-width-banner {
  width: 100%;
  height: 442px;
  display: flex;
  align-items: stretch;
  padding-top: var(--dl-space-space-fourunits);
  justify-content: center;
}
.home-left4 {
  flex: 1;
  width: 660px;
  display: flex;
  align-self: stretch;
  align-items: center;
  border-color: transparent;
  flex-direction: column;
  justify-content: center;
  background-color: #d1f9f9;
}
.home-content {
  margin: 0 0 40px 0;
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
  flex-direction: column;
}
.home-text20 {
  color: rgb(0, 0, 0);
  height: auto;
  margin: 0 0 16px 0;
  font-size: 28px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Jost;
  font-weight: 500px;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.home-text23 {
  color: rgba(0, 0, 0, 0.6);
  width: 267px;
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Jost;
  font-weight: 400px;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.home-btn {
  cursor: pointer;
  display: flex;
  padding: 16px 24px;
  position: relative;
  box-sizing: border-box;
  transition: 0.3s;
  align-items: flex-start;
  flex-shrink: 1;
  border-style: inset;
  border-width: 0.5px;
  background-color: #a8f1a3;
}
.home-btn:hover {
  background-color: var(--dl-color-gray-white);
}
.home-text24 {
  color: rgb(0, 0, 0);
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Jost;
  font-weight: 500px;
  line-height: 14px;
  font-stretch: normal;
  text-decoration: none;
}
.home-image06 {
  width: 697px;
  height: 377px;
  position: relative;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.home-container07 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-blog-post-card {
  width: 356px;
  height: 549px;
  display: flex;
  position: relative;
  max-width: 400px;
  align-self: stretch;
  transition: 0.3s;
  flex-direction: column;
  justify-content: space-between;
}
.home-blog-post-card:hover {
  transform: scale(1.02);
}
.home-container08 {
  display: flex;
  position: relative;
}
.home-container09 {
  width: 100%;
  display: flex;
}
.home-image07 {
  flex: 1;
  width: 100%;
  object-fit: cover;
}
.home-container10 {
  width: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.home-text27 {
  color: var(--dl-color-gray-black80);
  font-size: 22px;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  font-weight: 500;
  line-height: 28px;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text28 {
  color: var(--dl-color-gray-black50);
  font-size: 16px;
  font-style: normal;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-blog-post-card1 {
  width: 390px;
  height: 565px;
  display: flex;
  position: relative;
  max-width: 400px;
  align-self: stretch;
  transition: 0.3s;
  flex-direction: column;
  justify-content: space-between;
}
.home-blog-post-card1:hover {
  transform: scale(1.02);
}
.home-image08 {
  flex: 1;
  width: 100%;
  object-fit: cover;
}
.home-container11 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.home-text29 {
  color: var(--dl-color-gray-black80);
  font-size: 22px;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  font-weight: 500;
  line-height: 28px;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text30 {
  color: var(--dl-color-gray-black50);
  font-size: 16px;
  font-style: normal;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-blog-post-card2 {
  width: 364px;
  height: 498px;
  display: flex;
  position: relative;
  max-width: 400px;
  align-self: stretch;
  transition: 0.3s;
  flex-direction: column;
  justify-content: space-between;
}
.home-blog-post-card2:hover {
  transform: scale(1.02);
}
.home-image09 {
  flex: 1;
  width: 100%;
  object-fit: cover;
}
.home-container12 {
  width: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.home-text31 {
  color: var(--dl-color-gray-black80);
  font-size: 22px;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  font-weight: 500;
  line-height: 28px;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text32 {
  color: var(--dl-color-gray-black50);
  font-size: 16px;
  font-style: normal;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-image10 {
  right: -56px;
  width: 276px;
  bottom: 75px;
  height: 301px;
  position: absolute;
  object-fit: cover;
}
.home-footer {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-950);
  border-width: 1px;
  flex-direction: column;
  background-color: #d9f1f3;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.home-max-width3 {
  align-items: center;
  justify-content: center;
}
.home-footer1 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-top: var(--dl-space-space-sixunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-sixunits);
  justify-content: space-between;
}
.home-container13 {
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  margin-left: 20px;
  flex-direction: column;
}
.home-text33 {
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-text34 {
  color: var(--dl-color-gray-black50);
  margin-top: var(--dl-space-space-oneandhalfunits);
}
.home-text39 {
  color: var(--dl-color-gray-black50);
  margin-top: var(--dl-space-space-twounits);
}
.home-text40 {
  color: var(--dl-color-gray-black50);
  margin-top: 12px;
}
.home-image11 {
  left: 375px;
  width: 203px;
  bottom: 40px;
  height: 238px;
  opacity: 0.3;
  transform: rotate(60deg);
  object-fit: cover;
  margin-right: var(--dl-space-space-fiveunits);
}
.home-links-container {
  width: 367px;
  display: flex;
  grid-gap: var(--dl-space-space-threeunits);
  align-items: flex-start;
  margin-right: 20px;
  flex-direction: row;
  justify-content: space-between;
}
.home-container14 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-sixunits);
  flex-direction: column;
  justify-content: flex-start;
}
.home-text41 {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
  margin-bottom: 44px;
}
.home-text42 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
.home-text43 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
.home-text46 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
.home-text47 {
  color: var(--dl-color-gray-black50);
}
.home-container15 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text48 {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
  margin-bottom: 44px;
}
.home-text49 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
.home-text50 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
.home-text51 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
.home-text52 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
.home-container16 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  position: relative;
}
@media(max-width: 991px) {
  .home-container01 {
    display: none;
  }
  .home-left {
    display: none;
  }
  .home-right {
    display: none;
  }
  .home-icons {
    display: none;
  }
  .home-burger-menu {
    display: flex;
  }
  .home-icon {
    width: 24px;
    height: 24px;
    display: flex;
  }
  .home-logo-center {
    margin-left: 0px;
  }
  .home-left1 {
    width: 100%;
  }
  .home-blog-post-card {
    max-width: 48%;
  }
  .home-blog-post-card1 {
    max-width: 48%;
  }
  .home-blog-post-card2 {
    max-width: 48%;
  }
  .home-footer1 {
    flex-direction: column-reverse;
  }
  .home-links-container {
    margin-bottom: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 767px) {
  .home-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home-main {
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home-hero {
    padding-top: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .home-cards-container {
    grid-gap: var(--dl-space-space-unit);
  }
  .home-text11 {
    max-width: 770px;
  }
  .home-gallery {
    flex-direction: column;
  }
  .home-top {
    flex-direction: column;
  }
  .home-bottom {
    flex-direction: column;
  }
  .home-full-width-banner {
    padding-top: var(--dl-space-space-twounits);
    flex-direction: column;
  }
  .home-left4 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-content {
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text23 {
    width: auto;
  }
  .home-image06 {
    width: 100%;
  }
  .home-blog-post-card {
    max-width: 100%;
  }
  .home-blog-post-card1 {
    max-width: 100%;
  }
  .home-blog-post-card2 {
    max-width: 100%;
  }
  .home-footer1 {
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home-links-container {
    margin-top: var(--dl-space-space-twounits);
    flex-direction: column;
    justify-content: space-between;
  }
}
@media(max-width: 479px) {
  .home-container {
    padding-top: 55px;
  }
  .home-header {
    padding: var(--dl-space-space-unit);
  }
  .home-mobile-menu {
    padding: 16px;
  }
  .home-left4 {
    width: auto;
  }
  .home-footer1 {
    padding: var(--dl-space-space-unit);
  }
  .home-links-container {
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
  }
  .home-container14 {
    margin-right: var(--dl-space-space-unit);
  }
}
