<div>
  <link href="./item-card.css" rel="stylesheet" />
  <div class="item-card-gallery-card">
    <img
      alt="image"
      src="https://images.unsplash.com/photo-1484980972926-edee96e0960d?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDI0fHxmb29kfGVufDB8fHx8MTYyNjQ0OTIzNQ&ixlib=rb-1.2.1&w=1500"
      class="item-card-image"
    />
    <div class="item-card-container">
      <h3 class="item-card-text"><span>Project Title</span></h3>
      <div class="item-card-container1">
        <span class="item-card-currency"><span>$</span></span>
        <span class="item-card-value"><span>429</span></span>
      </div>
    </div>
  </div>
</div>
